.right, .left, .center{
	float: left;
	width: 33%;
}

.minus-btn, .plus-btn{
	height: 30px !important;
	width: 23px !important;
	text-align: center;
	margin: 0;
	padding: 0;
}

.minus-btn{
	float: right;
}

.plus-btn{
	float: left;
}

.endBlock{
   clear: left;
}

.content-pietanza-ordine{
   width: 100%;
   padding-bottom: 10px;
   padding-top: 10px;
   border-bottom: solid #8c6239;
}

.content-pietanza-riepilogo{
    border-bottom: 1px solid #8c6239;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nome-pietanza{
	width: 41%;
}

.prezzo-pietanza-ordine{
	text-align: center;
	width: 25%;
}

.prezzo-pietanza-riepilogo{
	width: 33%;
}

.quantita-pietanza-ordine{
	text-align: center;
}

.quantita-pietanza-riepilogo{
	width: 24%;
	text-align: center;
}

.content-totale-ordine-riepilogo{
    border-top: 3px solid #8c6239;
	padding-top: 7px;
}

.title-pietanze-riepilogo{
    border-bottom: 5px solid #8c6239;
	padding-bottom: 7px;
    font-weight: bold;
}

.tipo-pietanza-riepilogo{
    border-bottom: 2px solid #8c6239;
    font-style: italic;
    font-weight: bold;
	padding-top: 11px;
	padding-bottom: 7px;
}

.red-btn{
	color: white !important;
    border-radius: 10px;
	background: #f20000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f20000, #ff6868); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f20000, #ff6868); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f20000, #ff6868); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f20000, #ff6868); /* Standard syntax (must be last) */
}

.green-btn{
	color: white !important;
    border-radius: 10px;
	background: #178435; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#178435, #43b261); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#178435, #43b261); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#178435, #43b261); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#178435, #43b261); /* Standard syntax (must be last) */
}

.blue-btn{
	color: white !important;
    border-radius: 10px;
    background: #00178e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0a2cd6, #00178e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0a2cd6, #00178e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0a2cd6, #00178e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0a2cd6, #00178e); /* Standard syntax (must be last) */
}

.brown-btn{
    border-radius: 3px;
    border: 1px solid #a17041;
    background: #e2b488; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fcd8b5, #e2b488); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fcd8b5, #e2b488); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fcd8b5, #e2b488); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fcd8b5, #e2b488); /* Standard syntax (must be last) */
}

#content-ordine-popup{
	padding: 7px 13px 7px 13px;
	text-align: center;
}

#content-qrcode{
	text-align: center;
}